html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Noto Sans CJK JP;
}

section {
  padding: 80px 200px;
}

section h2 {
  margin: 0;
  text-align: center;
  color: #F29600;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
}

@media screen and (max-width: 768px) {
  section {
    padding: 40px;
  }

  section h2 {
    font-size: 20px;
    line-height: 30px;
  }
}

.none {
  display: none;
}

.fadein {
  left: 0 !important;
}

/* header section*/

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  width: 100%;
  height: 80px;
}

  header .logo {
  	display: block;
  	margin: 12px 0 12px 32px;
    width: 96px;
    height: 56px;
    overflow: hidden;
  }

	header .logo img {
	  width: 100%;
	  object-fit: cover;
	}

  header .menu {
  	margin: 24px 26px 23.5px 0;
  	width: 28px;
  	height: 24.5px;
  	overflow: hidden;
  	cursor: pointer;
  	display: none;
  }

  	header .menu img {
	    width: 100%;
	    height: auto;
	    min-height: 100%;
	  }

  header nav {
  	margin-right: 40px;
  }

	  header nav ul {
      display: flex;
      margin: 28px 0;
	  }

	    header nav ul li {
	  	  list-style: none;
	    }

	    header nav ul li:nth-child(n + 2) {
	  	  margin-left: 32px;
	    }

		    header nav ul li a {
		      color: #333333;
		      font-size: 18px;
		      line-height: 20px;
		      text-decoration: none;
		    }

        header nav ul li a:hover {
          opacity: 0.7;
        }

.menu-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 200vw;
  background: #FFFFFF;
  z-index: 100;

  transition-duration: .5s;
}
  .menu-content #menu-back {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 27px;
    height: 72px;
    text-align: right;
    box-sizing: border-box;
    cursor: pointer;

    transition-duration: .5s;
  }

    .menu-content #menu-back img {
      width: 26px;
    }

  .menu-content ul {
    padding: 0;
  }

    .menu-content ul li {
      width: 100%;
      text-align: center;
      list-style: none;
    }

      .menu-content ul li a {
        display: block;
        padding: 25px;
        width: 100%;
        color: #333333;
        font-size: 20px;
        line-height: 30px;
        text-decoration: none;
        box-sizing: border-box;
      }


@media screen and (max-width: 768px) {
  header {
    height: 72px;
  }

	  header nav {
	    display: none;
    }

    header .logo {
  	  margin: 17px 0 13px 16px;
      width: 72px;
      height: 42px;
    }

    header .menu {
      display: block;
    }
}

/* header section */

/* main section */
main {
  width: 100%;
}

/* main section */

/* firstview section */
#firstview {
  padding: 0;
  width: 100%;
  overflow: hidden;
}

  #firstview img {
    width: 100%;
    object-fit: cover;
  }

  #firstview .sp {
    display: none;
    height: 100%;
  }

@media screen and (max-width: 768px) {
  #firstview {
    width: 100%;
  }

    #firstview .sp {
      display: inline;
    }

    #firstview .pc {
      display: none;
    }
}

@media screen and (max-width: 360px) {
  #firstview {
    height: 620px;
  }

    #firstview .sp {
      display: inline;
    }
}

/* firstview section */

/* concept section */
#concept {}

  #concept h3 {
  	margin: 40px 0 0 0;
    color: #333333;
	  font-size: 24px;
	  font-weight: bold;
	  line-height: 36px;
	  text-align: center;
  }

  #concept .mission-title {
	  margin: 24px 0 0 0;
	  color: #333333;
	  font-size: 28px;
    font-weight: bold;
	  line-height: 42px;
	  text-align: center;
  }

  #concept .mission-text {
  	margin: 12px 0 80px 0;
	  color: #333333;
	  font-size: 16px;
	  line-height: 28px;
	  text-align: center;
  }

  #concept .policies {
    margin: 36px 0 0 0;
  }

    #concept .policies-first {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    #concept .policies-second {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 50px;
    }

      #concept .policies .policy {
      	text-align: center;
      }

      #concept .policies-second .policy {
      	width: 192px;
      }

      #concept .policies .policy .policy-icon {
      	margin: 0 auto;
      	width: 80px;
      	height: 80px;
      	overflow: hidden;
      }

        #concept .policies .policy .policy-icon img {
		      width: 100%;
		      height: auto;
		      min-height: 100%;
        }

      #concept .policies .policy .policy--title {
        margin: 18px 0 0 0;
		    color: #333333;
        font-size: 20px;
		    font-weight: bold;
		    line-height: 30px;
      }

      #concept .policies .policy .policy--text {
        margin: 8px 0 0 0;
		    color: #333333;
		    font-size: 16px;
		    line-height: 24px;
      }

@media screen and (max-width: 768px) {
  #concept .mission-title {
    margin: 16px 0 0 0;
  }

  #concept .mission-text {
    margin: 12px 0 40px 0;
  }

  #concept .policies {
    margin: 9px 0 0 0;
  }

    #concept .policies-first, #concept .policies-second {
      margin: 0;
    }

      #concept .policies .policy {
  	    margin-top: 36px;
        width: 100%;
      }

        #concept .policies .policy .policy--title {
          font-size: 20px;
          line-height: 20px;
        }

        #concept .policies .policy .policy--text {
          font-size: 14px;
        }
}

/* concept section */

/* service section */
#services {
  background: #FEF5E8;
}
  #services .service {
	  border-radius: 4px;
	  box-sizing: border-box;
	  margin: 64px auto 0;
	  padding: 60px 40px;
  	width: 400px;
	  height: 420px;
	  background: #FFFFFF;
  }

    #services .service .service-icon {
      margin: 0 auto;
      width: 200px;
    }

      #services .service .service-icon img {
		    width: 100%;
		    object-fit: cover;
      }

    #services .service .service--name {
      margin: 24px 0 0 0;
      color: #333333;
	    font-size: 16px;
	    font-weight: bold;
	    line-height: 24px;
	    text-align: center;
    }

    #services .service .service--text {
      margin: 24px 0 0 0;
      color: #333333;
	    font-size: 16px;
	    line-height: 32px;
	    text-align: left;
    }

    #services .service .service--action {
      position: relative;
      display: inline-block;
  	  border-radius: 100px;
      margin: 32px 0 0 0;
      padding: 18px 20px;
      width: calc(100% - 40px);
      background: #F96F22;
      color: #FFFFFF;
      text-decoration: none;
      text-align: center;
      font-size: 20px;
      line-height: 20px;
    }

    #services .service .service--action:hover {
          opacity: 0.7;
    }

        #services .service .service--action img {
	        position: absolute;
	        top: calc((100% - 10.25px) / 2);
	        right: 24px;
          width: 20px;
          object-fit: cover;
        }

@media screen and (max-width: 768px) {
  #services .service {
	  margin: 24px auto 0;
	  padding: 40px 20px;
  	width: 100%;
	  height: auto;
  }

    #services .service .service-icon {
      height: 27.22px;
    }

    #services .service .service--name {
      margin: 21px 0 0 0;
    }

    #services .service .service--text {
      margin: 24px 0 0 0;
      color: #333333;
      font-size: 14px;
      line-height: 28px;
      text-align: left;
    }
}

/* service section */

/* about section */
#about {
}

  #about .about-wrapper {
  	display: flex;
    margin: 64px 0 0 0;
  }

  #about .about-map {
    width: 400px;
    height: 280px;
  }

  #about .about-description {
  	margin-left: 80px;
  }

    #about .about-group {
      display: flex;
    }

      #about .about-group--label {
        margin: 0;
      	width: 88px;
        color: #333333;
        font-size: 16px;
        font-weight: bold;
        line-height: 32px;
      }

      #about .about-group--value {
      	margin: 0 0 0 24px;
      	width: calc(100% - 112px);
        color: #333333;
      	font-size: 16px;
        line-height: 32px;
      }

@media screen and (max-width: 768px) {
  #about .about-wrapper {
  	display: block;
    margin-top: 24px; 
  }

    #about .about-map {
      display: block;
      margin: 0 auto;
      width: 280px;
      height: 200px;
    }

    #about .about-description {
  	  margin-top: 24px;
  	  margin-left: 0;
    }

      #about .about-group--label {
        width: 64px;
        font-size: 14px;
        line-height: 28px;
      }

      #about .about-group--value {
        margin: 0 0 0 24px;
        width: calc(100% - 88px);
        font-size: 14px;
        line-height: 28px;
      }
}

/* about section */

/* recruit section */
#recruit {
  background: #FEF5E8;
  text-align: center;
}

#recruit p {
  margin: 64px 0 0 0;
  font-size: 16px;
  line-height: 24px;
}	

#recruit .recruit--action {
  display: inline-block;
  border-radius: 100px;
  margin: 56px auto 0;
  padding: 18px 60px;
  background: #D0D0D0;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}	

@media screen and (max-width: 768px) {
  #recruit p {
    margin: 32px 0 0 0;
    font-size: 14px;
    line-height: 28px;
  } 
  #recruit .recruit--action {
    margin: 24px auto 0;
    padding: 14px 50px;
    font-size: 16px;
  }
}

/* recruit section */

#contact .contact-form {
  margin: 0 auto;
  max-width: 624px;
}

  #contact .contact-group {
  	display: flex;
  	align-items: center;
  	margin-top: 32px;
  }

    #contact .contact-group--label-group {
      display: flex;
      align-items: center;
    }

      #contact .contact-group--label {
        width: 132px;
	      color: #333333;
	      font-size: 16px;
	      line-height: 24px;
      }

      #contact .required {
  	    margin-left: 16px;
  	    width: 40px;
        color: #F96F22;
	      font-size: 16px;
	      line-height: 24px;
      }

    #contact .contact-group--value {
      border: none;
  	  margin-left: 16px;
  	  padding: 12px 16px;
  	  width: calc(100% - 206px);
      background: #F3F4F5;
      border-radius: 4px;
    }

    #contact .contact-action {
      position: relative;
      display: block;
      border: none;
      border-radius: 100px;
      margin: 56px auto 0;
      padding: 18px 20px;
      max-width: 400px;
      width: calc(100% - 40px);
      background: #F96F22;
      color: #FFFFFF;
      text-decoration: none;
      text-align: center;
      font-size: 20px;
      line-height: 20px;
    }

    #contact .contact-action:hover {
          opacity: 0.7;
    }

      #contact .contact-action img {
        position: absolute;
        top: calc((100% - 10.25px) / 2);
        right: 24px;
        width: 20px;
        object-fit: cover;
      }

@media screen and (max-width: 768px) {
  #contact {

  }

    #contact .contact-group {
      display: block;
      margin-top: 24px;
    }

      #contact .contact-group--label-group {
        width: 100%;
      }

        #contact .contact-group--label {
          width: auto;
          font-size: 14px;
          line-height: 28px;
        }

        #contact .required {
          margin-left: 8px;
          font-size: 14px;
          line-height: 28px;
        }

      #contact .contact-group--value {
        margin-left: 0;
        width: 100%;
        box-sizing: border-box;
      }

      #contact textarea {
        height: 257px;
      }


    #contact .contact-action {
      margin: 32px auto 0;
      padding: 14px 97px;
      width: 100%;
      max-width: 280px;
      font-size: 16px;
      line-height: 20px;
    }
}

/* recruit section */

/* footer section */
footer {
  padding: 34px 0;
  background: #F3F4F5;
  text-align: center;
}

  footer p {
	  color: #333333;
	  font-size: 12px;
	  line-height: 16px;
  	font-family: Roboto;
  }
@media screen and (max-width: 768px) {
  footer {
    padding: 16px 0;
  }

    footer p {
      font-size: 10px;
      line-height: 12px;
    }
}
/* footer section */
